{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">

        <title>About Us</title>

        <link rel="stylesheet" type="text/css" href="{% static 'about/styles/about.css' %}"/>
       
        <link rel="icon" type="image/x-icon" href="/static/about/styles/letter-b.png">

        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Poppins&display=swap" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="inner1">
                <p>About Us</p>
            </div>
        </div>

        <div class="inner2">
            <p> &ensp;<a><span>B</span></a>ASKET is our Biggest Super Market in Bangladesh. We also give servive the customers 
                 by online.We believe time is valuable to our fellow Dhaka residents, and that they should not have to waste 
                 hours in traffic, brave bad weather and wait in line just to buy basic necessities like eggs! This is 
                 why BASKET delivers everything you need right at your door-step and at no additional cost. 
                 This website aims to create a perfect shoping guide for Dhaka and other cities, 
                 based on your experience and contribution, so that anyone can easily find their preferred shoping information.
                 We constantly look for volunteers, team members who want to be a part of BASKET and give their time to 
                 make it better. If you are interested, please contract with me. Join Us, lets have some fun reviewing shoping. 
            </p>

        </div>





        <!---developer intro-->

        <div class="team-section"> 
	        <div class="inner-width">
		        <div class="pers">

			        <div class="pe">
				     <img src="/static/home/images/akib.jpg" alt="">
				     <div class="p-name">MD. Shanewaz</div>
				     <div class="p-des">Designer and Developer </div>
				     <div class="p-sm">
				     <a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
				     <a target="_blank" href="https://twitter.com/MDShane70300189"><i class="fab fa-twitter"></i></a>
                     <a target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                     
				    </div>
			    </div>

			       </br></br></br></br></br></br>

			         <h1 style="color: white;">About Developer</h1><br><br>
			        <p>"Hello..!! I am MD. Shanewaz Akib. 
				      I am studying B.Sci in Computer Science and Engineering at East West University.
                      My Home town in Chittagong. I was completed my school and collage in Chittagong.My Collage was 
                      Omargani M.E.S University Collage and My School was Mern Sun School and Collage.
                    </p>
                </div>
            </div>
        </div>
            <!---//developer intro-->







<!---copyright section-->

<div>
    <footer>
        <p>
            <div class="copyright">
                <br>
                Copyright &copy; 2020<strong> BUSKET.com </strong>. All Right Reserved 
            </div>
            <div class="credits">
                Designed by <a target="_blank" href="https://github.com/CSESHANEWAZ">MD.Shanewaz</a> ;
                Visit my website <a target="_blank" href="https://sites.google.com/view/cseshanewaz/">here.
            </div>
        </p>

    </footer>
    
</div>







        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" 
		      integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" 
		      crossorigin="anonymous">
        </script>



    </body>
</html>