body,
html {
    margin: 0;
    padding: 0;
    height: 77%;
    background-size: cover;
    background-image: url('/static/login/images/img6.jpg');
}


.inner{
    margin-top: 45px;
	color: crimson;
	font-size: 45px;
	font-family: 'lobster',cursive;
	text-align: center;
	letter-spacing: 2px;
}

.inner span{
	color: black;
	font-family: 'Gotu', sans-serif;
	font-size: medium;
}




.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: 350px;
    background: crimson;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
    font-family: 'Gotu', sans-serif;
    
}


.login_btn {
    width: 100%;
    background: #33ccff !important;
    color: black !important;
    font-family: 'Gotu', sans-serif;
    font-weight: bold;
}

.login_btn:hover{
    background: #015f7e !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.ml-2{
    color: white;
}




/****footer****/

footer{
	font-size: 13px;
	left: 0;
	right: 0;
	text-align: center;
}


footer .copyright {
	text-align: center;
	letter-spacing: 1px;
}

footer a {
	color: white;
	text-decoration: none;
	font-size: small;
	letter-spacing: 1px;
	font-family: 'Gotu', sans-serif;
}


